# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/workspace.xml
app/build/generated/assets/
app/build/generated/res/pngs/androidTest/
app/build/generated/res/resValues/
app/build/generated/res/rs/
app/build/generated/source/aidl/
app/build/generated/source/apt/
app/build/generated/source/rs/
app/build/intermediates/assets/
app/build/intermediates/check-manifest/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/stripped.dir/
app/build/intermediates/incremental/mergeDebugResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/
app/build/intermediates/incremental/mergeDebugResources/stripped.dir/
app/build/intermediates/incremental/processDebugAndroidTestResources/
app/build/intermediates/incremental/processDebugResources/
app/build/intermediates/jniLibs/
app/build/intermediates/lint/
app/build/intermediates/prebuild/
app/build/intermediates/rs/
app/build/intermediates/shaders/
app/build/intermediates/tmp/
app/build/tmp/
app/libs/
build/android-profile/profile-2018-03-30-09-19-28-010.json
build/android-profile/profile-2018-03-30-09-19-28-010.rawproto
build/android-profile/profile-2018-03-30-09-20-11-515.json
build/android-profile/profile-2018-03-30-09-20-11-515.rawproto
